<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="http://127.0.0.1:8000/api/v1/registrate/" method="post">
        {%csrf_token%}
        email
        <input type="email" name="email" id="">
        username
        <input type="text" name="username" id="">
        <input type="text" name="password1" id="">
        <input type="text" name="password2" id="">
        <input type="submit" value="send">
    </form>

</body>
</html>